image: python:3-alpine

before_script:
  - apk update
  - apk add zip

stages:
  - test
  - build

test:
  stage: test
  script:
    - python -mjson.tool 'system.json' > /dev/null
    - python -mjson.tool 'template.json' > /dev/null

build:
  stage: build
  script:
    - zip fvtt-fragged-empire.zip -r *.js *.json *.md fonts images lang packs modules styles templates -x ".*"
  artifacts:
    name: fvtt-fragged-empire
    when: on_success
    paths:
      - fvtt-fragged-empire.zip
  when: on_success
  only:
    - tags
    - master
