<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
      <div class="header-fields">
        <div class="flexrow">
          <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
          <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name"/></h1>
        </div>
      </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attribute">Attributes</a>
        <a class="item" data-tab="skill">Skills</a>
        <a class="item" data-tab="fight">Fight</a>
        <a class="item" data-tab="features">Features</a>
        <a class="item" data-tab="equipment">Equipment</a>
        <a class="item" data-tab="researchtrade">Research&Trade</a>        
        <a class="item" data-tab="biodata">Biography</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Carac Tab --}}
        <div class="tab items" data-group="primary" data-tab="attribute">
          <span><a class="lock-unlock-sheet"><img class="small-button-container" 
            src="systems/foundry-fe2/images/icons/{{#if editScore}}unlocked.svg{{else}}locked.svg{{/if}}" alt="Unlocked/Locked"
            >{{#if editScore}}Unlocked{{else}}Locked{{/if}}</a>
          </span>
          <div class="grid grid-2col">
            <div class="">
              
              <span class="generic-label"><h3>Attributes (current/max)</h3></span>
              <ul>
                {{#each system.attributes as |attr key|}}
                <li class="item flexrow list-item" data-attr-key="{{key}}" data-item-id="{{attr.traitId}}">
                  <span class="stat-label flexrow" name="{{key}}"><a class="carac-roll">{{attr.label}}</a></span>        
                  <input type="text" class="input-numeric-short" name="system.attributes.{{key}}.current" value="{{attr.current}}" data-dtype="Number"/>
                  <input type="text" class="input-numeric-short" name="system.attributes.{{key}}.value" value="{{attr.value}}" data-dtype="Number"/>
                  <div class="item-controls">
                    {{#if (ne attr.traitId "")}}
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    {{/if}}
                  </div>
                </li>
                {{/each}}
              </ul>  

              <span class="generic-label"><h3>Level</h3></span>
              <ul>
                <li class="item flexrow list-item stack-left" data-attr-key="level" data-item-id="{{system.level.traitId}}">
                  <span class="stat-label padd-right packed-left" name="level">Level</span>
                  <input type="text" class="input-numeric-short" name="system.level.value" value="{{system.level.value}}" data-dtype="Number" {{#unless @root.editScore}}disabled{{/unless}}/>
                  <div class="item-controls">
                    {{#if (ne system.level.traitId "")}}
                      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    {{/if}}
                  </div>                  
                </li>
              </ul>

            </div>

            <div class="">

              <span class="generic-label"><h3>Resources</h3></span>
              <ul>
                <li class="item flexrow list-item packed-left" data-attr-key="fate" data-item-id="{{system.resources.traitId}}">
                  <span class="stat-label packed-left" name="level">Current :</span>                
                  <input type="text" class="input-numeric-short" name="system.resources.value" value="{{system.resources.value}}" data-dtype="Number"/>
                  <span class="stat-label packed-left" name="level">Alloted :</span>                
                  <input type="text" class="input-numeric-short" name="system.resources.alloted" value="{{system.resources.alloted}}" data-dtype="Number"/>
                  <span class="stat-label padd-left packed-left" name="level ">Bonus : </span>
                  <input type="text" class="input-numeric-short" name="system.resources.bonus" value="{{system.resources.bonus}}" data-dtype="Number"/>
                  <span class="stat-label padd-left packed-left" name="level">Max : {{system.resources.total}}</span>
                  <div class="item-controls"> 
                    {{#if (ne system.resources.traitId "")}}
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    {{/if}}
                  </div>
              </li>
            </ul>

              <span class="generic-label"><h3>Influence</h3></span>
              <ul>
                <li class="item flexrow list-item stack-left" data-attr-key="fate" data-item-id="{{system.influence.traitId}}">
                  <span class="stat-label" name="level">Current : </span>
                  <input type="text" class="input-numeric-short" name="system.influence.value" value="{{system.influence.value}}" data-dtype="Number"/>
                  <span class="stat-label padd-left" name="level">Bonus : </span>
                  <input type="text" class="input-numeric-short" name="system.influence.bonus" value="{{system.influence.bonus}}" data-dtype="Number"/>
                  <span class="stat-label padd-left" name="level">Max : {{system.influence.total}}</span>
                  <div class="item-controls">
                    {{#if (ne system.influence.traitId "")}}
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    {{/if}}
                  </div>
                </li>
              </ul>

              <span class="generic-label"><h3>Spare Time Points</h3></span>
              <ul>
                <li class="item flexrow list-item stack-left" data-item-id="{{lang.id}}">
                  <span class="stat-label padd-right packed-left">Spare Time Points : </span>
                  <input type="text" class="input-numeric-short" name="system.sparetimepoints.value" value="{{system.sparetimepoints.value}}" data-dtype="Number"/>
                </li>                  
              </ul>

              <span class="generic-label"><h3>Languages</h3></span>
              <ul>
                {{#each languages as |lang key|}}
                <li class="item flexrow list-item  stack-left" data-item-id="{{lang.id}}">
                  <img class="sheet-competence-img" src="{{lang.img}}"/>
                  <span class="competence-label">{{lang.name}}</span>
                  <div class="item-controls">
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                  </div>
                </li>                  
                {{/each}}
              </ul>  
            </div>
          </div>
        </div>

        {{!-- Skills Tab --}}
        <div class="tab skill" data-group="primary" data-tab="skill">
          <div class="flexrow">
            <span><a class="lock-unlock-sheet"><img class="small-button-container" 
              src="systems/foundry-fe2/images/icons/{{#if editScore}}unlocked.svg{{else}}locked.svg{{/if}}" alt="Unlocked/Locked"
              >{{#if editScore}}Unlocked{{else}}Locked{{/if}}</a>
            </span>
          </div>
          <div class="grid grid-2col">
            <div>
              <h3>Primary Skills</h3>
              <ul class="item-list alterne-list">
                
                {{> "systems/foundry-fe2/templates/partial-skill-list-header.html"}}
                 
                {{#each sortedSkills.primary as |skill key|}}
                  <li class="item flexrow list-item" data-item-id="{{skill.id}}">
                    <img class="sheet-competence-img" src="{{skill.img}}" width="24" height="24"/>
                    <span class="competence-label"><a>{{skill.name}}</a></span>
                    <span class="specialisation-label">{{skill.system.trainedValue}}</span>
                    <span class="specialisation-label">{{skill.system.bonus}}</span>
                    <span class="specialisation-label">{{skill.system.total}}</span>
                    
                    {{#if skill.system.isTrait}}
                    <span class="specialisation-label tooltip">Trait
                      <div class="tooltiptext">
                        {{#each skill.system.traits as |trait idx|}}
                        <span>{{trait.name}}</span>
                        <div>{{{trait.system.description}}}
                        </div>
                        {{/each}}
                      </div>
                    </span>
                    {{else}}
                    <span class="specialisation-label tooltip">-</span>
                    {{/if}}

                    <div class="item-controls">
                      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>                  
                {{/each}}
              </ul>

              <h3>Personal Combat Skills</h3>
              <ul class="item-list alterne-list">

                {{> "systems/foundry-fe2/templates/partial-skill-list-header.html"}}

                {{#each sortedSkills.personalcombat as |skill key|}}
                  <li class="item flexrow list-item" data-item-id="{{skill.id}}">
                    <img class="sheet-competence-img" src="{{skill.img}}"/>
                    <span class="competence-label"><a>{{skill.name}}</a></span>
                    <span class="specialisation-label">{{skill.system.trainedValue}}</span>
                    <span class="specialisation-label">{{skill.system.bonus}}</span>
                    <span class="specialisation-label">{{skill.system.total}}</span>
                    {{#if skill.system.isTrait}}
                    <span class="specialisation-label tooltip">Trait
                      <div class="tooltiptext">
                        {{#each skill.system.traits as |trait idx|}}
                        <span>{{trait.name}}</span>
                        <div>{{{trait.system.description}}}
                        </div>
                        {{/each}}
                      </div>
                    </span>
                    {{else}}
                    <span class="specialisation-label tooltip">-</span>
                    {{/if}}
                    <div class="item-controls">
                      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>                  
                {{/each}}
              </ul>

            </div>

            <div>

              <h3>Spacehship Combat Skills</h3>
              <ul class="item-list alterne-list">

                {{> "systems/foundry-fe2/templates/partial-skill-list-header.html"}}

                {{#each sortedSkills.spaceshipcombat as |skill key|}}
                  <li class="item flexrow list-item" data-item-id="{{skill.id}}">
                    <img class="sheet-competence-img" src="{{skill.img}}"/>
                    <span class="competence-label"><a>{{skill.name}}</a></span>
                    <span class="specialisation-label">{{skill.system.trainedValue}}</span>
                    <span class="specialisation-label">{{skill.system.bonus}}</span>
                    <span class="specialisation-label">{{skill.system.total}}</span>
                    {{#if skill.system.isTrait}}
                    <span class="specialisation-label tooltip">Trait
                      <div class="tooltiptext">
                        {{#each skill.system.traits as |trait idx|}}
                        <span>{{trait.name}}</span>
                        <div>{{{trait.system.description}}}
                        </div>
                        {{/each}}
                      </div>
                    </span>
                    {{else}}
                    <span class="specialisation-label tooltip">-</span>
                    {{/if}}
                    <div class="item-controls">
                      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>                  
                {{/each}}
              </ul>
            </div>
          </div>
        </div>

        {{!-- Combat Tab --}}
        <div class="tab fight" data-group="primary" data-tab="fight">
          <div class="flexcol">

            <span class="generic-label"><h3>Endurance</h3></span>
            <ul>
              <li class="item flexrow list-item stack-left">
                <span class="stat-label padd-right packed-left">Current :</span>
                <input type="text" class="input-numeric-short" name="system.endurance.value" value="{{system.endurance.value}}" data-dtype="Number"/>
                <span class="stat-label padd-left packed-left">Bonus :</span>
                <input type="text" class="input-numeric-short"  name="system.endurance.endurancebonus" value="{{system.endurance.endurancebonus}}" data-dtype="Number"/>
                <span class="stat-label padd-left packed-left">Max : {{system.endurance.max}}</span>
              </li>
              <li class="item flexrow list-item stack-left">
                <span class="stat-label pad-right packed-left">Recovery</span>
                <span class="stat-label padd-left packed-left">Bonus :</span>
                <input type="text" class="input-numeric-short" name="system.endurance.recoverybonus padd-left test-css" value="{{system.endurance.recoverybonus}}" data-dtype="Number"/>
                <span class="stat-label padd-left padd-right packed-left">Max&nbsp; &nbsp;:{{system.endurance.recovery}}</span>
              </li>
              <li class="item flexrow list-item stack-left">
                <span class="stat-label padd-right packed-left">Grit re-rolls :</span>
                <input type="text" class="input-numeric-short" name="system.gritreroll.value" value="{{system.gritreroll.value}}" data-dtype="Number"/>
                <span class="stat-label padd-left packed-left">Bonus :</span>
                <input type="text" class="input-numeric-short"  name="system.gritreroll.bonus" value="{{system.gritreroll.bonus}}" data-dtype="Number"/>
                <span class="stat-label padd-left packed-left">Max : {{system.gritreroll.max}}</span>
              </li>
            </ul>

            <span class="generic-label"><h3>Defence</h3></span>
            <ul>
              <li class="item flexrow list-item stack-left">
                <span class="stat-label padd-right packed-left">Base : {{defenseBase}}</span>
                <span class="stat-label padd-right packed-left">Bonus :</span>
                <input type="text" class="input-numeric-short packed-left" name="system.defensebonus.defense" value="{{system.defensebonus.defense}}" data-dtype="Number"/>
                <span class="stat-label padd-left packed-left">Total : {{defenseTotal}}</span>
              </li>
            </ul>

            <span class="generic-label"><h3>Armour</h3></span>
            <ul class="list-item">
              <li class="item flexrow list-item stack-left">
                <span class="stat-label packed-left">Base : {{armourBase}}</span>
                <span class="stat-label padd-left packed-left">Bonus :</span>
                <input type="text" class="input-numeric-short padd-right" name="system.armourbonus.armour" value="{{system.armourbonus.armour}}" data-dtype="Number"/>
                <span class="stat-label padd-left packed-left">Total : {{armourTotal}}</span>
                <span></span>
              </li>
              <li class="item flexrow list-item stack-left">           
                <span class="stat-label padd-left packed-left">at 0 Endurance : </span>
                <input type="text" class="input-numeric-short padd-right" name="system.armourbonus.zeroendurance" value="{{system.armourbonus.zeroendurance}}" data-dtype="Number"/>
              </li>
            </ul>

            <span class="generic-label"><h3>Weapons</h3></span>
            <ul class="stat-list alternate-list">
              {{#each weapons as |weapon key|}}
              <li class="item stat flexrow list-item" data-arme-id="{{arme.id}}" data-item-id="{{weapon.id}}">
                <img class="sheet-competence-img" src="{{weapon.img}}"/>
                <span class="stat-label weapon-label"><a name="{{weapon.name}}">{{weapon.name}}</a></span>
                <div class="item-controls">
                  <a class="item-control item-equip" title="Worn">{{#if weapon.system.equipped}}<i class="fas fa-circle"></i>{{else}}<i class="fas fa-genderless"></i>{{/if}}</a>
                  <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                  <span class="stat-label weapon-munitions-label">Munitions: <input type="text" class="input-numeric-short padd-right" name="{{weapon.id}}" value="{{weapon.system.munitions}}" data-dtype="Number"/></span>
                </div>
              </li>
              <li class="item stat flexrow list-item stats-table" data-armure-id="{{outfit.id}}" data-item-id="{{outfit.id}}">
                {{> "systems/foundry-fe2/templates/weapon-stats-section.html" stats=weapon.system.statstotal isfinal=false header=true}}
              </li>
              {{/each}}                
            </ul>          

            <span class="generic-label"><h3>Drones/Companions</h3></span>
            <ul>
              {{#each subActors as |subActor key|}}
              <li class="item stat flexrow list-item" data-actor-id="{{subActor._id}}">
                <img class="sheet-competence-img" src="{{subActor.img}}"/>
                <span class="stat-label npc-fight"><a name="{{subActor.name}}">{{subActor.name}}</a></span>
                <div class="item-controls">
                  <a class="item-control subactor-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                  <a class="item-control subactor-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
              </li>
              <li class="item stat flexrow list-item stats-table" data-armure-id="{{outfit.id}}" data-item-id="{{outfit.id}}">
                {{> "systems/foundry-fe2/templates/weapon-stats-section.html" stats=subActor.system.stats isfinal=false header=true}}
              </li>
              {{/each}}
            </ul>  

            <span class="generic-label"><h3>Outfits</h3></span>
            <ul class="item-list alternate-list">
              {{#each outfits as |outfit key|}}
              <li class="item stat flexrow list-item" data-armure-id="{{outfit.id}}" data-item-id="{{outfit.id}}">
                <img class="sheet-competence-img" src="{{outfit.img}}"/>
                <span class="stat-label outfit-label">{{outfit.name}}</span>
                <div class="item-controls">
                  <a class="item-control item-equip" title="Worn">{{#if outfit.system.equipped}}<i class="fas fa-circle"></i>{{else}}<i class="fas fa-genderless"></i>{{/if}}</a>
                  <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
              </li>
              <li class="item stat flexrow list-item stats-table" data-armure-id="{{outfit.id}}" data-item-id="{{outfit.id}}">
                {{> "systems/foundry-fe2/templates/weapon-stats-section.html" stats=outfit.system.statstotal isfinal=false header=true}}
              </li>
              {{/each}}
            </ul>

            <span class="generic-label"><h3>Utilities</h3></span>
            <ul class="item-list alternate-list">
              {{#each utilities as |utility key|}}
              <li class="item stat flexrow list-item" data-armure-id="{{utility.id}}" data-item-id="{{utility.id}}">
                <img class="sheet-competence-img" src="{{utility.img}}"/>
                <span class="stat-label outfit-label">{{utility.name}}</span>
                <div class="item-controls">
                  <a class="item-control item-equip" title="Worn">{{#if utility.system.equipped}}<i class="fas fa-circle"></i>{{else}}<i class="fas fa-genderless"></i>{{/if}}</a>
                  <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
              </li>
              <li class="item stat flexrow list-item stats-table" data-armure-id="{{outfit.id}}" data-item-id="{{outfit.id}}">
                {{> "systems/foundry-fe2/templates/weapon-stats-section.html" stats=utility.system.statstotal isfinal=false header=true}}
              </li>
              {{/each}}
            </ul>

          </div>
        </div>

        {{!-- Features Tab --}}
        <div class="tab features" data-group="primary" data-tab="features">
          <div class="flexcol">

            <span class="generic-label"><h3>Perks</h3></span>
            <ul>
              {{#each perks as |perk key|}}
              <li class="item flexrow list-item" data-item-id="{{perk.id}}">
                <img class="sheet-competence-img" src="{{perk.img}}"/>
                <span class="competence-label">{{perk.name}}</span>
                <div class="item-controls">
                  <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
              </li>                  
              {{/each}}
            </ul>  

            <span class="generic-label"><h3>Complications</h3></span>
            <ul>
              {{#each complications as |complication key|}}
              <li class="item flexrow list-item" data-item-id="{{complication.id}}">
                <img class="sheet-competence-img" src="{{complication.img}}"/>
                <span class="competence-label">{{complication.name}}</span>
                <div class="item-controls">
                  <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
              </li>                  
              {{/each}}
            </ul>  

            <span class="generic-label"><h3>Strong Hits</h3></span>
            <ul>
              {{#each strongHits as |stronghit key|}}
              <li class="item flexrow list-item" data-item-id="{{stronghit.id}}">
                <img class="sheet-competence-img" src="{{stronghit.img}}"/>
                <span class="competence-label">{{stronghit.name}}</span>
                <div class="item-controls">
                  <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
              </li>                  
              {{/each}}
            </ul>  

            <span class="generic-label"><h3>Henchmen/Drones</h3></span>
            <ul>
              {{#each subActors as |subActor key|}}
              <li class="item flexrow list-item" data-actor-id="{{subActor._id}}">
                <img class="sheet-competence-img" src="{{subActor.img}}"/>
                <span class="competence-label">{{subActor.name}}</span>
                <div class="item-controls">
                  <a class="item-control subactor-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                  <a class="item-control subactor-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
              </li>                  
              {{/each}}
            </ul>  
            
            <span class="generic-label"><h3>Character Traits List</h3></span>
            <ul>
              {{#each traits as |trait key|}}
              <li class="item flexrow list-item" data-item-id="{{trait.id}}">
                <img class="sheet-competence-img" src="{{trait.img}}"/>
                <span class="competence-label">{{trait.name}}</span>
                <span class="competence-label">{{trait.system.type}}</span>
                <div class="item-controls">
                  <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
              </li>                  
              {{/each}}
            </ul> 

            <span class="generic-label"><h3>Skills Traits List</h3></span>
            <ul>
              {{#each skillsTraits as |trait key|}}
              <li class="item flexrow list-item" data-item-id="{{trait._id}}">
                <img class="sheet-competence-img" src="{{trait.img}}"/>
                <span class="competence-label">{{trait.name}}</span>
                <span class="competence-label">{{trait.associatedSkill}}</span>
                <div class="item-controls">
                  <a class="item-control skill-trait-view" title="Edit Item"><i class="fas fa-edit"></i></a>
              </div>
              </li>                  
              {{/each}}
            </ul>  

          </div>
        </div>

        {{!-- Equipement Tab --}}
        <div class="tab equipment" data-group="primary" data-tab="equipment">
          <div><h4>Slots</h4></div>
          <ul class="item-list alternate-list">
            <li class="item flexrow list-item stack-left">
              <span class="equipement-label packed-left padd-right">Base : {{equipmentsSlotsBase}}</span>
              <span class="equipement-label packed-left padd-right padd-left">Bonus : </span>
              <input type="text" class="input-numeric-short padd-right"  name="system.equipmentslots.bonus" value="{{system.equipmentslots.bonus}}" data-dtype="Number"/>
              <span class="equipement-label packed-left padd-right padd-left">Total : {{equipmentsSlotsTotal}}</span>
              <span class="equipement-label packed-left padd-right padd-left">Current : </span>
              <input type="text" class="input-numeric-short padd-right" name="system.equipmentslots.current" value="{{system.equipmentslots.current}}" data-dtype="Number"/>
            </li>
            <li class="item flexrow list-item stack-left"></li>
              <span class="equipement-label packed-left padd-right">Used : {{equipmentsSlotsUsed}}</span>
            </ul>

            <div><h4>Equipment</h4></div>
            <ul class="item-list alternate-list">
              <li class="item flexrow list-item">
                <span class="equipement-label">Name</span>
                <span class="equipement-label">Type</span>
                <div class="item-controls">
                  <span class="equipement-label">&nbsp;</span>
                  <span class="equipement-label">&nbsp;</span>
                  <span class="equipement-label">&nbsp;</span>
                </div>
              </li>
              {{#each equipments as |equip key|}}
              <li class="item flexrow list-item" data-item-id="{{equip.id}}">
                <img class="sheet-competence-img" src="{{equip.img}}"/>
                <span class="equipement-label">{{equip.name}}</span>
                <span class="equipement-label">{{equip.type}}</span>
                <div class="item-controls">
                  <a class="item-control item-equip" title="Worn">{{#if equip.system.equipped}}<i class="fas fa-circle"></i>{{else}}<i class="fas fa-genderless"></i>{{/if}}</a>
                  <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
              </li>                  
            {{/each}}
            </ul>
        </div>
      
        {{!-- Reaserch/Trade Tab --}}
        <div class="tab researchtrade" data-group="primary" data-tab="researchtrade">
            
          <div><h4>Trade goods</h4></div>
            <ul class="item-list alternate-list">
              <li class="item flexrow list-item">
                <span class="equipement-label">Name</span>
                <span class="equipement-label">Tradebox</span>
                <span class="equipement-label">Cargo Space</span>
                <div class="item-controls">
                  <span class="equipement-label">&nbsp;</span>
                  <span class="equipement-label">&nbsp;</span>
                </div>
              </li>
              {{#each tradeGoods as |good key|}}
              <li class="item flexrow list-item" data-item-id="{{good.id}}">
                <img class="sheet-competence-img" src="{{good.img}}"/>
                <span class="equipement-label">{{good.name}}</span>
                <span class="equipement-label">{{good.system.tradebox}}</span>
                <span class="equipement-label">{{good.cargoSpace}}</span>
                <div class="item-controls">
                  <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
              </li>                  
            {{/each}}
            </ul>

          <div><h4>Research</h4></div>
            <ul class="item-list alternate-list">
              <li class="item flexrow list-item">
                <span class="equipement-label">Name</span>
                <span class="equipement-label">Research Unit</span>
                <div class="item-controls">
                  <span class="equipement-label">&nbsp;</span>
                  <span class="equipement-label">&nbsp;</span>
                </div>
              </li>
              {{#each researches as |research key|}}
              <li class="item flexrow list-item" data-item-id="{{research.id}}">
                <img class="sheet-competence-img" src="{{research.img}}"/>
                <span class="equipement-label">{{research.name}}</span>
                <span class="equipement-label">{{research.system.researchunit}}</span>
                <div class="item-controls">
                  <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
              </li>                  
            {{/each}}
            </ul>

        </div>
      
      {{!-- Biography Tab --}}
      <div class="tab biodata" data-group="primary" data-tab="biodata">        

        <article class="flexcol">

          <span class="generic-label"><h3>Race</h3></span>
          <ul>
            {{#each races as |race key|}}
            <li class="item flexrow list-item" data-item-id="{{race.id}}">
              <img class="sheet-competence-img" src="{{race.img}}"/>
              <span class="competence-label">{{race.name}}</span>
              <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>                  
            {{/each}}
          </ul>  

          <hr>
          <h3>Biography : </h3>
          <div class="form-group editor">
            {{editor system.biosystem.description target="system.biosystem.description" button=true owner=owner editable=editable}}
          </div>
          <hr>
          <h3>Notes : </h3>
          <div class="form-group editor">
            {{editor system.biosystem.notes target="system.biosystem.notes" button=true owner=owner editable=editable}}
          </div>
          <hr>
          {{>"systems/foundry-fe2/templates/editor-notes-gm.html"}}
        </article>
      </div>

    </section>
</form>

