<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        <div class="tab" data-group="primary">
          {{> "systems/foundry-fe2/templates/weapon-stats-section.html" stats=data.stats isbase=true title="Variation Stats" header=true}}

          <h3>Description</h3>
          {{editor system.description target="system.description"}}
        </div>

    </section>
</form>
