<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="icons/svg/item-bag.svg" data-edit="img" title="{{name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        <div class="tab" data-group="primary">
          <ul>
            <li class="flexrow"><label class="generic-label">Type</label>
              <select class="competence-base flexrow" type="text" name="system.type" value="{{system.type}}" data-dtype="String" disabled>
                <option value="primary">Primary</option>
                <option value="personalcombat">Personal Combat</option>
                <option value="spaceshipcombat">Spaceship Combat</option>
              </select> 
            </li>
            <li class="flexrow"><label class="generic-label">Trained ?</label>
              <label class="attribute-value checkbox"><input type="checkbox" name="system.trained" {{checked system.trained}}/></label>
            </li>
            <li class="flexrow"><label class="generic-label">Attribute Boost</label>
              <label class="attribute-value checkbox"><input type="text" name="foo" value="{{system.attribute}}" data-dtype="Number" disabled/></label>
            </li>
            <li class="flexrow"><label class="generic-label">Bonus</label>
              <label class="attribute-value checkbox"><input type="text" name="system.bonus" value="{{system.bonus}}" data-dtype="Number"/></label>
            </li>
            <li class="flexrow"><label class="generic-label">Toolkit ?</label>
              <label class="attribute-value checkbox"><input type="checkbox" name="system.toolkit" {{checked system.toolkit}}/></label>
            </li>
            <li class="flexrow"><label class="generic-label">Toolbox ?</label>
              <label class="attribute-value checkbox"><input type="checkbox" name="system.toolbox" {{checked system.toolbox}}/></label>
            </li>
            <li class="flexrow"><label class="generic-label">Workshop ?</label>
              <label class="attribute-value checkbox"><input type="checkbox" name="system.workshop" {{checked system.workshop}}/></label>
            </li>
            <li class="flexrow"><label class="generic-label">Dedicated Workshop ?</label>
              <label class="attribute-value checkbox"><input type="checkbox" name="system.dedicatedworkshop" {{checked system.dedicatedworkshop}}/></label>
            </li>
          </ul>

            {{> "systems/foundry-fe2/templates/skill-traits-section.html"}}
            
          <h3>Description</h3>
          {{editor system.description target="system.description"}}
        </div>

    </section>
</form>
