<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        <div class="tab" data-group="primary">
          <ul>
            <span class="generic-label"><h3>Type</h3>
            <select class="competence-base flexrow" type="text" name="system.type" value="{{system.type}}" data-dtype="String">
              {{#select system.type}}
              <option value="money">Money</option>
              <option value="loot">Loot</option>
              <option value="freight">Freight</option>
              {{/select}}
            </select> </span>
          </ul>
          <h3>Description</h3>
          {{editor system.description target="system.description"}}
        </div>

    </section>
</form>
