
<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        <div class="tab" data-group="primary">
          <ul>
            <li class="flexrow"><label class="item-sheet-label">Type</label>
              <select class="competence-base flexrow" type="text" name="system.type" value="{{system.type}}" data-dtype="String">
                {{#select system.type}}
                <option value="advancement">Advancement</option>
                <option value="attribute">Attribute</option>
                <option value="primaryskill">Primary Skill</option>
                <option value="personalcombat">Personal Combat</option>
                <option value="spaceshipcombat">Spaceship Combat</option>
                <option value="npc">NPC</option>
                {{/select}}
              </select> 
            </li>
{{!--             <li class="flexrow"><label class="item-sheet-label">Sub-Type</label>
              <select class="competence-base flexrow" type="text" name="system.subtype" value="{{system.subtype}}" data-dtype="String">
                {{#select system.subtype}}
                <option value="level">Level</option>
                <option value="fate">Fate</option>
                <option value="resources">Resources</option>
                <option value="influence">Influence</option>
                <option value="strength">Strength</option>
                <option value="reflexes">Reflexes</option>
                <option value="movement">Movement</option>
                <option value="focus">Focus</option>
                <option value="intelligence">Intelligence</option>
                <option value="everyday">Skill - Everyday</option>
                <option value="professionnal">Skill - Professionnal</option>
                <option value="combat">Skill - Combat</option>
                <option value="vehicle">Skill - Vehicle</option>
                {{/select}}
              </select> 
            </li> --}}
          </ul>
        <div class="tab" data-group="primary">
          <span class="generic-label"><h3>Requirements</h3></span>
          <span class="small-editor item-text-long-line">
            {{editor system.requirements target="system.requirements"}}
          </span>
          <span class="generic-label"><h3>Benefits</h3></span>
          <span class="small-editor item-text-long-line">
            {{editor system.benefits target="system.benefits"}}
          </span>
          <span class="generic-label"><h3>Disadvantages</h3></span>
          <span class="small-editor item-text-long-line">
            {{editor system.disadvantages target="system.disadvantages"}}
          </span>
        </div>
    </section>
</form>
