<div class="skill-roll-dialog fe2-roll-dialog">
  <h2 class="dialog-roll-title">{{title}}</h2>

  <div class="flexcol">
    <div class="flexrow">
      <span class="competence-base flexrow" >{{localize "FE2.Roll.Labels.HitBonus"}} : {{weapon.system.statstotal.hit.value}}   {{localize "FE2.Roll.Labels.RangePenalty"}} :<div id="foo">-{{ rangepenalty }}</div></span>
    </div>

    {{#if weaponSkillChoices}}
    <div class="flexrow">
      <span class="competence-base flexrow" >{{localize "FE2.Roll.Labels.SkillToUse"}} : </span>
      <select class="competence-base flexrow" type="text" id="skillId" name="skillId" value="skillId" data-dtype="String">
        {{selectOptions weaponSkillChoices selected=skillId}}
      </select>
    </div>
    {{/if}}

    <div class="flexrow">
      <span class="competence-base flexrow" >{{localize "FE2.Roll.Labels.ShotType"}} : </span>
      <select class="competence-base flexrow" type="text" id="shotType" name="shotType" value="shotType" data-dtype="String">
        {{selectOptions optionsShotType selected=shotType}}
      </select>
    </div>

    <div class="flexrow">
      <span class="competence-base flexrow" >{{localize "FE2.Roll.Labels.BonusMalus"}} : </span>
      <select class="competence-base flexrow" type="text" id="bonusMalus" name="bonusMalus" value="bonusMalus" data-dtype="Number">
        {{selectOptions optionsBonusMalus selected=bonusMalus}}
      </select>
    </div>

    <div class="flexrow">
      <span class="competence-base flexrow" >{{localize "FE2.Roll.Labels.HitDiceModifier"}} : </span>
      <select class="competence-base flexrow" type="text" id="bMHitDice" name="bMHitDice" value="bMHitDice" data-dtype="Number">
        {{selectOptions optionsBonusMalus selected=bMHitDice}}
      </select>
    </div>

    <div class="flexrow">
      <span class="competence-base flexrow">
        {{#ifThen (ne weapon.system.munitions "0") "" (localize "FE2.Roll.Labels.MunitionsEmpty")}}{{/ifThen}}
      </span>
    </div>

    <div class="flexrow">
      <span class="competence-base flexrow">
        <label class="generic-label">{{localize "FE2.Roll.Labels.UseMunitions"}} ({{weapon.system.munitions}}) ?</label>
        <select class="competence-base flexrow" type="text" id="munHitDice" name="munHitDice" value="munHitDice" data-dtype="Number">
          {{selectOptions optionsMunitions selected=munHitDice}}
        </select>
      </span>
    </div>

    <div class="flexrow">
      <span class="competence-base flexrow" >{{localize "FE2.Roll.Labels.Cover"}} : </span>
      <select class="competence-base flexrow" type="text" id="cover" name="cover" value="cover" data-dtype="Number">
        {{selectOptions coverChoices selected=cover}}
      </select>
    </div>

    {{> "systems/foundry-fe2/templates/partials/roll-conditional-effects.html"}}

    {{> "systems/foundry-fe2/templates/partial-weapon-summary-dialog.html" weapon=weapon}}

  </div>

</div>
