<div class="skill-roll-dialog fe2-roll-dialog">
  <h2 class="dialog-roll-title">{{title}}</h2>

  <div class="flexcol">
    <div class="flexrow">
      <span class="competence-base flexrow" >{{localize "FE2.Roll.Labels.HitBonus"}} : {{weapon.system.statstotal.hit.value}}</span>
      <span class="competence-base flexrow" >{{localize "FE2.Roll.Labels.RateOfFire"}} : {{rofValue}}</span>
    </div>

    {{#if weaponRoFOptions}}
    <div class="flexrow">
      <span class="competence-base flexrow" >{{localize "FE2.Roll.Labels.RateOfFire"}} : </span>
      <select class="competence-base flexrow" type="text" id="rof" name="rof" value="rofValue" data-dtype="Number">
        {{selectOptions weaponRoFOptions selected=rofValue}}
      </select>
    </div>
    {{/if}}

    <div class="flexrow">
      <span class="competence-base flexrow" >{{localize "FE2.Roll.Labels.SkillToUse"}} : </span>
      <select class="competence-base flexrow" type="text" id="skill-spacecraft" name="skill" value="skill" data-dtype="String">
        {{selectOptions spacecraftSkillChoices selected=skillId}}
      </select>
    </div>

    <div class="flexrow">
      <span class="competence-base flexrow" >{{localize "FE2.Roll.Labels.BonusMalus"}} : </span>
      <select class="competence-base flexrow" type="text" id="bonusMalus" name="bonusMalus" value="bonusMalus" data-dtype="Number">
        {{selectOptions optionsBonusMalus selected=bonusMalus}}
      </select>
    </div>
    <div class="flexrow">
      <span class="competence-base flexrow" >{{localize "FE2.Roll.Labels.HitDiceModifier"}} : </span>
      <select class="competence-base flexrow" type="text" id="bMHitDice" name="bMHitDice" value="bMHitDice" data-dtype="Number">
        {{selectOptions optionsBonusMalus selected=bMHitDice}}
      </select>
    </div>
    <div class="flexrow">
      <span class="competence-base flexrow">
        {{#ifThen (ne munitions "0") "" (localize "FE2.Roll.Labels.MunitionsEmpty")}}{{/ifThen}}
      </span>
    </div>

    <div class="flexrow">
      <span class="competence-base flexrow">
        <label class="generic-label">{{localize "FE2.Roll.Labels.UseMunitions"}} ({{system.fight.munitions}}) ?</label>
        <select class="competence-base flexrow" type="text" id="munHitDice" name="munHitDice" value="munHitDice" data-dtype="Number">
          {{selectOptions optionsMunitions selected=munHitDice}}
        </select>
      </span>
    </div>

    {{> "systems/foundry-fe2/templates/partials/roll-conditional-effects.html"}}

    <div class="fe2-weapon-summary-dialog">
      <div class="fe2-weapon-summary-header">
        <span>{{localize "FE2.Stats.Spacecraft.HitDice"}}</span>
        <span>{{localize "FE2.Stats.Spacecraft.HitBonus"}}</span>
        <span>{{localize "FE2.Stats.Spacecraft.ShieldDamage"}}</span>
        <span>{{localize "FE2.Stats.Spacecraft.CriticalDamage"}}</span>
        <span>{{localize "FE2.Stats.Spacecraft.RangeIncrement"}}</span>
      </div>
      <div class="fe2-weapon-summary-values">
        <span>{{weapon.system.statstotal.hitdice.value}}</span>
        <span>{{weapon.system.statstotal.hit.value}}</span>
        <span>{{weapon.system.statstotal.shielddmg.value}}</span>
        <span>{{weapon.system.statstotal.crit.value}}</span>
        <span>{{weapon.system.statstotal.range.value}}</span>
      </div>
      {{> "systems/foundry-fe2/templates/partial-item-keywords-row.html" keywords=weapon.system.keywords}}
    </div>

  </div>

</div>
