<div class="skill-roll-dialog fe2-roll-dialog">
  <h2 class="dialog-roll-title">{{title}}</h2>

  <div class="flexcol">
    {{> "systems/foundry-fe2/templates/partials/roll-preview-section.html"}}

    {{#if weaponRoFOptions}}
    <div class="flexrow">
      <span class="competence-base flexrow" >{{localize "FE2.Roll.Labels.RateOfFire"}} : </span>
      <select class="competence-base flexrow" type="text" id="rof" name="rof" value="rofValue" data-dtype="Number">
        {{selectOptions weaponRoFOptions selected=rofValue}}
      </select>
    </div>
    {{/if}}

    <div class="flexrow">
      <span class="competence-base flexrow" >{{localize "FE2.Roll.Labels.BonusMalus"}} : </span>
      <select class="competence-base flexrow" type="text" id="bonusMalus" name="bonusMalus" value="bonusMalus" data-dtype="Number">
        {{selectOptions optionsBonusMalus selected=bonusMalus}}
      </select>
    </div>

    <div class="flexrow">
      <span class="competence-base flexrow" >{{localize "FE2.Roll.Labels.HitDiceModifier"}} : </span>
      <select class="competence-base flexrow" type="text" id="bMHitDice" name="bMHitDice" value="bMHitDice" data-dtype="Number">
        {{selectOptions optionsBonusMalus selected=bMHitDice}}
      </select>
    </div>

    <div class="flexrow">
      <span class="competence-base flexrow">
        <label class="generic-label">{{localize "FE2.Roll.Labels.UseMunitions"}} ({{system.fight.munitions}}) ?</label>
        <select class="competence-base flexrow" type="text" id="munHitDice" name="munHitDice" value="munHitDice" data-dtype="Number">
          {{selectOptions optionsBonusMalus selected=munHitDice}}
        </select>
      </span>
    </div>

    {{> "systems/foundry-fe2/templates/partials/roll-conditional-effects.html"}}

    <div class="fe2-weapon-summary-dialog">
      <div class="fe2-weapon-summary-header">
        <span>{{localize "FE2.Sheet.NPC.Attribute"}}</span>
        <span>{{localize "FE2.Attributes.Mobility"}}</span>
      </div>
      <div class="fe2-weapon-summary-values">
        <span>{{npcstats.Attribute.value}}</span>
        <span>{{npcstats.Mobility.value}}</span>
      </div>
    </div>

  </div>

</div>
