<div class="skill-roll-dialog fe2-roll-dialog">
  <h2 class="dialog-roll-title">{{title}}</h2>

  <div class="flexcol">
    <div class="flexrow">
      <span class="competence-base flexrow" >{{#if skill.system.trained}}{{localize "FE2.Roll.Labels.Trained"}}{{else}}{{localize "FE2.Roll.Labels.NotTrained"}}{{/if}}</span>
      <span class="competence-base flexrow" >{{localize "FE2.Sheet.Common.Bonus"}} : {{skill.system.bonus}}</span>
      <span class="competence-base flexrow" ><strong>{{localize "FE2.Sheet.Common.Total"}} : {{skill.system.total}}</strong></span>
    </div>

    <h3>{{localize "FE2.Roll.Labels.AvailableTools"}} : </h3>
    <div class="flexrow">
      <label class="generic-label">{{localize "FE2.Roll.Labels.Toolbox"}}</label>
      <label class="attribute-value checkbox"><input type="checkbox" name="skill.system.toolbox" {{checked skill.system.toolbox}} disabled/></label>
      <label class="generic-label">{{localize "FE2.Roll.Labels.Workshop"}}</label>
      <label class="attribute-value checkbox"><input type="checkbox" name="skill.system.workshop" {{checked skill.system.workshop}} disabled/></label>
    </div>

    {{#if toolsAvailable}}
    <h3>{{localize "FE2.Roll.Labels.ApplyToolsBonus"}} : </h3>
    <div class="flexrow">
      {{#if hasToolbox}}
      <label class="generic-label">{{localize "FE2.Roll.Labels.ApplyToolboxBonus"}}</label>
      <label class="attribute-value checkbox"><input type="checkbox" id="useToolbox" name="useToolbox" {{checked useToolbox}}/></label>
      {{/if}}
      {{#if hasWorkshop}}
      <label class="generic-label">{{localize "FE2.Roll.Labels.ApplyDedicatedWorkshopBonus"}}</label>
      <label class="attribute-value checkbox"><input type="checkbox" id="useDedicatedworkshop" name="useDedicatedworkshop" {{checked useDedicatedworkshop}}/></label>
      {{/if}}
    </div>
    {{/if}}

    <div class="flexrow">
      <span class="competence-base flexrow" >{{localize "FE2.Roll.Labels.BonusMalus"}} : </span>
      <select class="competence-base flexrow" type="text" id="bonusMalus" name="bonusMalus" value="bonusMalus" data-dtype="Number">
        {{selectOptions optionsBonusMalus selected=bonusMalus}}
      </select>
    </div>

    <div class="flexrow">
      <span class="competence-base flexrow" >{{localize "FE2.Roll.Labels.SkillDifficulty"}} : </span>
      <select class="competence-base flexrow" type="text" id="skillDiff" name="skillDiff" value="difficulty" data-dtype="Number">
        {{selectOptions optionsSkillDifficulty selected=skillDiff}}
      </select>
    </div>

    <div class="flexrow">
      <label class="generic-label">{{localize "FE2.Roll.Labels.ArcaneRoll"}}</label>
      <label class="attribute-value checkbox"><input type="checkbox" id="isArcane" name="isArcane"/></label>
    </div>

    <div class="flexrow">
      <label class="generic-label">{{localize "FE2.Roll.Labels.UseSTP"}}</label>
      <label class="attribute-value checkbox"><input type="checkbox" id="useSTP" name="useSTP"/></label>
    </div>

    <div class="flexrow">
      <label class="generic-label">{{localize "FE2.Roll.Labels.AcquisitionRoll"}}</label>
      <label class="attribute-value checkbox"><input type="checkbox" id="isAcquisition" name="isAcquisition"/></label>
    </div>

    {{> "systems/foundry-fe2/templates/partials/roll-conditional-effects.html"}}

  </div>

</div>
