<div class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
      <div class="header-fields">
        <div class="flexrow">
          <img class="profile-img" src="{{img}}" data-action="editImage" data-edit="img" title="{{name}}" />
          <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="{{localize "FE2.Sheet.Common.Name"}}"/></h1>
        </div>
      </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attribute" data-group="primary" data-action="tab">{{localize "FE2.Tabs.Attributes"}}</a>
        <a class="item" data-tab="fight" data-group="primary" data-action="tab">{{localize "FE2.Tabs.Fight"}}</a>
        <a class="item" data-tab="cargo" data-group="primary" data-action="tab">{{localize "FE2.Tabs.Cargo"}}</a>
        <a class="item" data-tab="features" data-group="primary" data-action="tab">{{localize "FE2.Tabs.Features"}}</a>
        <a class="item" data-tab="notes" data-group="primary" data-action="tab">{{localize "FE2.Sheet.Common.Notes"}}</a>
        <a class="item" data-tab="effects" data-group="primary" data-action="tab">{{localize "FE2.Effects.UI.TabLabel"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Carac Tab --}}
        <div class="tab items" data-group="primary" data-tab="attribute">
          <span><a data-action="lockUnlockSheet"><img class="small-button-container"
            src="systems/foundry-fe2/images/icons/{{#if editScore}}unlocked.svg{{else}}locked.svg{{/if}}" alt="{{localize 'FE2.Sheet.Common.Toggle'}}"
            >{{#if editScore}}{{localize "FE2.Sheet.Common.Unlocked"}}{{else}}{{localize "FE2.Sheet.Common.Locked"}}{{/if}}</a>
          </span>
          <div class="grid grid-2col">
            <div class="">
              
              <span class="generic-label fe2-section-header"><h3>{{localize "FE2.Tabs.Attributes"}}</h3></span>
              <ul>
                {{#each system.attributes as |attr key|}}
                <li class="item flexrow list-item" data-attr-key="{{key}}" data-item-id="{{attr.traitId}}">
                  <span class="stat-label flexrow tooltip tooltip-nobottom" name="{{key}}"><a class="carac-roll">{{localize attr.label}}</a></span>
                  <select class="carac-base flexrow" type="text" name="system.attributes.{{key}}.current" value="{{attr.current}}" data-dtype="Number" {{#unless @root.editScore}}disabled{{/unless}}>
                    {{selectOptions ../spacecraftAttrCurrentChoices selected=attr.current}}
                  </select> 
                  &nbsp;/&nbsp;
                  <select class="carac-base flexrow" type="text" name="system.attributes.{{key}}.value" value="{{attr.value}}" data-dtype="Number" {{#unless @root.editScore}}disabled{{/unless}}>
                    {{selectOptions ../spacecraftAttrValueChoices selected=attr.value}}
                  </select>
                  <span class="{{modColor (lookup (lookup @root.effectiveAttributes key) "value") attr.value}}">{{lookup (lookup @root.effectiveAttributes key) "value"}}</span>
                  <div class="item-controls">
                    {{#if (ne attr.traitId "")}}
                    <a class="item-control" data-action="editItem" title="{{localize "FE2.Sheet.Common.EditItem"}}"><i class="fas fa-edit"></i></a>
                    {{/if}}
                  </div>
                </li>
                {{/each}}
              </ul>  
            </div>

            <div class="">        
              <span class="generic-label fe2-section-header"><h3>{{localize "FE2.Sheet.Spacecraft.Size"}} : </h3>
              <input type="text" name="system.size.value" value="{{system.size.value}}" data-dtype="Number" {{#unless @root.editScore}}disabled{{/unless}}/>
              </span>

              <span class="generic-label fe2-section-header"><h3>{{localize "FE2.Sheet.Spacecraft.Build"}} : </h3>
                <input type="text" name="system.build" value="{{system.build}}" data-dtype="String" {{#unless @root.editScore}}disabled{{/unless}}/>
              </span>

              <span class="generic-label fe2-section-header"><h3>{{localize "FE2.Sheet.Common.Influence"}} : </h3>
                <input type="text" name="system.influence" value="{{system.influence}}" data-dtype="Number" {{#unless @root.editScore}}disabled{{/unless}}/>
              </span>

              <span class="generic-label fe2-section-header"><h3>{{localize "FE2.Sheet.Spacecraft.OtherStats"}}</h3></span>
              <ul>
                <li class="item flexrow list-item stack-left">
                  <span class="stat-label" name="{{key}}">{{localize "FE2.Sheet.Common.Name"}}</span>
                  <span class="stat-label" name="{{key}}">{{localize "FE2.Sheet.Common.Bonus"}}</span>
                  <span class="stat-label" name="{{key}}">{{localize "FE2.Sheet.Common.Total"}}</span>
                  <span class="stat-label" name="{{key}}">{{localize "FE2.Sheet.Common.Current"}}</span>
                </li>
                </li>
                  {{#each system.stats as |stat key|}}
                  <li class="item flexrow list-item stack-left" data-attr-key="{{key}}" data-item-id="{{stat.traitId}}">
                    <span class="stat-label " name="{{key}}">{{localize stat.label}}</span>
                    {{#if stat.bonus}}
                    {{numericStepper name=(concat "system.stats." key ".bonus") value=stat.bonus disabled=@root.disableScore}}
                    {{/if}}
                    {{#if stat.max}}
                    <span class="stat-label padd-left" name="{{key}}"> <span class="{{modColor stat.max (lookup @root.baseValues.statMaxes key)}}">{{stat.max}}</span></span>
                    {{/if}}
                    {{numericStepper name=(concat "system.stats." key ".value") value=stat.value disabled=@root.disableScore}}
                  </li>
                  {{/each}}
                </ul>    
            </div>

          </div>
        </div>
        

      {{!-- Combat Tab --}}
      <div class="tab fight" data-group="primary" data-tab="fight">
        <div class="flexcol">

          <div class="">     
            {{#each system.fight as |fight key|}}   
            <div class="flexrow stack-left">     
              <span class="stat-label packed-left padd-right"><strong>{{localize fight.label}}</strong></span>
              {{#if fight.valueonly}}
              {{numericStepper name=(concat "system.fight." key ".value") value=fight.value min=0}}
              {{else}}
              <span class="stat-label padd-right padd-left packed-left">{{localize "FE2.Sheet.Common.Base"}} : {{fight.base}}</span>
              <span class="stat-label padd-left padd-right packed-left">{{localize "FE2.Sheet.Common.Bonus"}} :</span>
              {{numericStepper name=(concat "system.fight." key ".bonus") value=fight.bonus}}
              <span class="stat-label padd-left padd-right packed-left">{{localize "FE2.Sheet.Common.Total"}} : <span class="{{modColor fight.total (lookup @root.baseValues.fightTotals key)}}">{{fight.total}}</span></span>
              {{/if}}
            </div>         
            <ul>
              {{#each fight.derivated as |derivated keydev|}}   
              <li class="item flexrow list-item stack-left">
                <span class="stat-label padd-left padd-right packed-left">{{localize derivated.label}}</span>
                {{#if derivated.valueonly}}
                {{numericStepper name=(concat "system.fight." key ".derivated." keydev ".value") value=derivated.value min=0}}
                {{else}}
                <span class="stat-label padd-left padd-right packed-left">{{localize "FE2.Sheet.Common.Bonus"}} :</span>
                {{numericStepper name=(concat "system.fight." key ".derivated." keydev ".bonus") value=derivated.bonus}}
                <span class="stat-label padd-left padd-right packed-left">{{localize "FE2.Sheet.Common.Total"}} : {{derivated.total}}</span>
                {{/if}}
              </li>
              {{/each}}
            </ul>
            <hr>
            {{/each}}
          </div>

          <span class="generic-label fe2-section-header"><h3>{{localize "FE2.Sheet.Common.Weapons"}}</h3></span>
          <ul class="stat-list alternate-list fe2-item-list">
            {{#each weapons as |weapon key|}}
            <li class="item stat flexrow list-item" data-arme-id="{{arme.id}}" data-item-id="{{weapon.id}}">
              <img class="sheet-competence-img" src="{{weapon.img}}"/>
              <span class="stat-label spacecraft-weapon-label flexrow"><a data-action="rollSpacecraftWeapon" name="{{weapon.name}}">{{weapon.name}}</a></span>
              <div class="item-controls">
                <a class="item-control" data-action="equipItem" title="{{localize "FE2.Sheet.Common.Worn"}}">{{#if weapon.system.equipped}}<i class="fas fa-circle"></i>{{else}}<i class="fas fa-genderless"></i>{{/if}}</a>
                <a class="item-control" data-action="editItem" title="{{localize "FE2.Sheet.Common.EditItem"}}"><i class="fas fa-edit"></i></a>
                <a class="item-control" data-action="deleteItem" title="{{localize "FE2.Sheet.Common.DeleteItem"}}"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            <li>
              {{> "systems/foundry-fe2/templates/weapon-stats-section.html" stats=weapon.system.statstotal isfinal=false header=true}}
            </li>
            {{/each}}                
          </ul>          

        </div>
      </div>

      {{!-- Cargo Tab --}}
      <div class="tab cargo" data-group="primary" data-tab="cargo">
        <div><h4>{{localize "FE2.Sheet.Common.TradeGoods"}}</h4></div>
          <ul class="item-list alternate-list fe2-item-list">
            <li class="item flexrow list-item">
              <span class="equipement-label">{{localize "FE2.Sheet.Common.Name"}}</span>
              <span class="equipement-label">{{localize "FE2.Sheet.Common.Type"}}</span>
              <span class="equipement-label">{{localize "FE2.Sheet.Character.CargoSpace"}}</span>
              <div class="item-controls">
                <span class="equipement-label">&nbsp;</span>
                <span class="equipement-label">&nbsp;</span>
              </div>
            </li>
            {{#each tradeGoods as |good key|}}
            <li class="item flexrow list-item" data-item-id="{{good.id}}">
              <img class="sheet-competence-img" src="{{good.img}}"/>
              <span class="equipement-label">{{good.name}}</span>
              <span class="equipement-label">{{good.system.type}}</span>
              <span class="equipement-label">{{good.system.cargoSpace}}</span>
              <div class="item-controls">
                <a class="item-control" data-action="editItem" title="{{localize "FE2.Sheet.Common.EditItem"}}"><i class="fas fa-edit"></i></a>
                <a class="item-control" data-action="deleteItem" title="{{localize "FE2.Sheet.Common.DeleteItem"}}"><i class="fas fa-trash"></i></a>
              </div>
            </li>
          {{/each}}
          <ul>
            <li><span class="stat-label">{{localize "FE2.Sheet.Spacecraft.CargoSpaceUsed"}}: {{cargoSpaceUsed}} / {{ cargo }}</span></li>
              {{!-- <input type="text" class="input-numeric-short fe2-stat-input padd-right"  name="cargoSpaceUsed" value="{{cargoSpaceUsed}}" data-dtype="Number"/> --}}
          </ul>
      </div>

      {{!-- Features Tab --}}
      <div class="tab features" data-group="primary" data-tab="features">
        <div class="flexcol">

          <span class="generic-label fe2-section-header"><h3>{{localize "FE2.Sheet.Spacecraft.SpacecraftPerks"}}</h3></span>
          <ul>
            {{#each perks as |perk key|}}
            <li class="item flexrow list-item" data-item-id="{{perk.id}}">
              <img class="sheet-competence-img" src="{{perk.img}}"/>
              <span class="competence-label">{{perk.name}}</span>
              <div class="item-controls">
                <a class="item-control" data-action="editItem" title="{{localize "FE2.Sheet.Common.EditItem"}}"><i class="fas fa-edit"></i></a>
                <a class="item-control" data-action="deleteItem" title="{{localize "FE2.Sheet.Common.DeleteItem"}}"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ul>

          <span class="generic-label fe2-section-header"><h3>{{localize "FE2.Sheet.Spacecraft.SpacecraftTraitsList"}}</h3></span>
          <ul>
            {{#each traits as |trait key|}}
            <li class="item flexrow list-item" data-item-id="{{trait.id}}">
              <img class="sheet-competence-img" src="{{trait.img}}"/>
              <span class="competence-label">{{trait.name}}</span>
              <span class="competence-label">{{trait.system.type}}</span>
              <div class="item-controls">
                <a class="item-control" data-action="editItem" title="{{localize "FE2.Sheet.Common.EditItem"}}"><i class="fas fa-edit"></i></a>
                <a class="item-control" data-action="deleteItem" title="{{localize "FE2.Sheet.Common.DeleteItem"}}"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ul>

          <span class="generic-label fe2-section-header"><h3>{{localize "FE2.Sheet.Common.StrongHits"}}</h3></span>
          <ul>
            {{#each strongHits as |stronghit key|}}
            <li class="item flexrow list-item" data-item-id="{{stronghit.id}}">
              <img class="sheet-competence-img" src="{{stronghit.img}}"/>
              <span class="competence-label">{{stronghit.name}}</span>
              <div class="item-controls">
                <a class="item-control" data-action="editItem" title="{{localize "FE2.Sheet.Common.EditItem"}}"><i class="fas fa-edit"></i></a>
                <a class="item-control" data-action="deleteItem" title="{{localize "FE2.Sheet.Common.DeleteItem"}}"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ul>

        </div>
      </div>

      {{!-- Notes Tab --}}
      <div class="tab notes" data-group="primary" data-tab="notes">        
        <article class="flexcol">
          <h3>{{localize "FE2.Sheet.Common.Description"}} : </h3>
          <div class="form-group editor">
            <prose-mirror button="true" toggled="true" name="system.description" value="{{system.description}}">{{{enrichedDescription}}}</prose-mirror>
          </div>
          <hr>
          <h3>{{localize "FE2.Sheet.Common.Notes"}} : </h3>
          <div class="form-group editor">
            <prose-mirror button="true" toggled="true" name="system.notes" value="{{system.notes}}">{{{enrichedNotes}}}</prose-mirror>
          </div>
          <hr>
          {{>"systems/foundry-fe2/templates/editor-notes-gm.html"}}
        </article>
      </div>

      {{!-- Effects Tab --}}
      <div class="tab effects" data-group="primary" data-tab="effects">
        {{> "systems/foundry-fe2/templates/effects-section.html"}}
      </div>

    </section>
</div>

