  /* ==================== (A) Fonts ==================== */
  @font-face {
    font-family: "MiddleSaxonyText";
    src: url('../fonts/middlesaxonytext.ttf') format("truetype");
  }
  @font-face {
    font-family: "ZagRegular";
    src: url('../fonts/zag_regular.otf');
  }
  @font-face {
    font-family: "ZagBold";
    src: url('../fonts/zag_bold.otf');
  }

  :root {
  /* =================== 1. ACTOR SHEET FONT STYLES =========== */
    --window-header-title-font-family: ZagBold;
    --window-header-title-font-size: 1.3rem;
    --window-header-title-font-weight: normal;
    --window-header-title-color: #f5f5f5;

    --major-button-font-family: ZagBold;
    --major-button-font-size: 1.05rem;
    --major-button-font-weight: normal;
    --major-button-color: #dadada;

    --tab-header-font-family: ZagBold;
    --tab-header-font-size: 1.0rem;
    --tab-header-font-weight: 700;
    --tab-header-color: #403f3e;
    --tab-header-color-active: #4a0404;

    --actor-input-font-family: ZagRegular;
    --actor-input-font-size: 1.0rem;
    --actor-input-font-weight: 500;
    --actor-input-color: black;

    --actor-label-font-family: ZagRegular;
    --actor-label-font-size: 1.0rem;
    --actor-label-font-weight: 700;
    --actor-label-color: #464331c4;

  /* =================== 2. DEBUGGING HIGHLIGHTERS ============ */ 
    --debug-background-color-red: #ff000054;
    --debug-background-color-blue: #1d00ff54;
    --debug-background-color-green: #54ff0054;

    --debug-box-shadow-red: inset 0 0 2px red;
    --debug-box-shadow-blue: inset 0 0 2px blue;
    --debug-box-shadow-green: inset 0 0 2px green;
  }

.window-app {
  font-family: ZagRegular;
  text-align: justify;
  font-size: 16px;
  letter-spacing: 1px;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

ul, ol {
    margin: 0;
    padding: 0;
}
ul, li {
  list-style-type: none;
}

.sheet-competence-img {
  width: 24px;
  height: 24px;
  flex-grow: 0;
  margin-right: 0.25rem;
}
.chat-message-header {
  background: rgba(220,220,210,0.5);
  font-size: 1.1rem;
  height: 48px;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center; 
}

.chat-message .message-header .flavor-text, .chat-message .message-header .whisper-to { 
  font-size: 0.9rem;
}
.chat-actor-name {
  padding: 4px;
}

.chat-img {
  width: 64px;
  height: 64px;
}

.actor-icon {
  float: left;
  width: 48px;
  height: 48px;
  padding: 2px 6px 2px 2px;
}

.padding-dice {
  padding-top: .2rem;
  padding-bottom: .2rem;
}

.dice-image {
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  max-width: 100%;
}

.dice-image-reroll {
  background-color:rgba(115, 224, 115, 0.25);
  border-color: #011d33;
  box-sizing: border-box;
  border: 1px;
  border-radius: 0%;
  max-width: 100%;
}

.chat-dice {
  width: 15%;
  height: 15%;
  font-size: 15px;
  padding: 10px;
  padding-bottom: 20px;
  padding-top: .2rem;
  padding-bottom: .2rem;
}

.chat-message {
  background: rgba(220,220,210,0.5);
  font-size: 0.9rem;
}

.chat-message.whisper {
  background: rgba(220,220,210,0.75);
  border: 2px solid #545469;
}
.chat-message .chat-icon {
  border: 0;
  padding: 2px 6px 2px 2px;
  float: left;
  width: 64px;
  height: 64px;
}